@model uts.plus.Models.forgetpass
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgetPassword</title>
</head>
<body>
    <div class="container-fluid">
        @Html.Partial("_navbar")
        <h3>Set Password</h3>
        @* <div class="row">
                <div class="col-5">
            <div class="input-group col-lg-6">

                <button type="submit">       Enter Email</button>
                <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
            </div>
                </div>
                </div>
        *@

        <h4>
            @ViewBag.Message
            @if (ViewBag.Message == "email exists go to reset password")
            {
                <a href="/Home/ResetPassword/">Click Here</a>

            }
        </h4>

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-7">
                    @Html.TextAreaFor(m => m.Email, new { @class = "form-control", placeholder = "Email Id" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 pt-3">
                    <input type="submit" class="btn btn-success" value="Submit" />
                </div>
            </div>
        }



        @Html.Partial("_footer")

    </div>

</body>

</html>