@model uts.plus.Models.PasswordDetail
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
    <div>
        @Html.Partial("_navbar")

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.EmailID, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextAreaFor(m => m.EmailID, new { @class = "form-control", placeholder = "Email" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextAreaFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" class="btn-btn-success" value="Submit" />
                </div>
            </div>
        }

        @if (ViewBag.Message != null)
        {
            <div class="text-success">
                @ViewBag.Message
            </div>
        }
        @Html.Partial("_footer")
    </div>
</body>
</html>
